



<div class="container">
    <p id="notice" class="notice"><h4><%= notice %></h4></p>
</div>

<div class="container">
<h1>Vuong's Blog</h1>
<h3>My first Rails Application for CoderSchool!</h3>

    <%= render @articles %>
    <% if params[:search] %>
    <% else %>
	<%= paginate @articles %>
	<% end %>
<br>
	<div class="custom_link_new">
		<%= link_to 'New Article', new_article_path %>
	</div>
</div>