// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";

.comments{
	.card-title{
		img{
	    	border-radius: 50%;
	    	padding: 10px;
		}
	    color: #31708f;
	    background-color: #d9edf7;
	    
	}
	border-color: #bce8f1;
	.card-text{
		padding-left: 50px;
	}
}

.custom-link{
	text-align: right;
}

.container{
	padding-top: 10px;
}

.notice{
	color: red;
}

.custom_link_new{
	padding-bottom: 50px;
}

.custom-title{
	font-weight: bold;
}

.current{
	z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0275d8;
    border-color: #0275d8;
}
.page, .first, .prev, .next, .last{
	@extend .page-link;
}
